<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crystal Calculator</title>
    <!-- Include Bootstrap here -->
    <link rel="stylesheet" href="https://l2brasil.bitbucket.io/bootstrap-modern/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Crystal Calculator</h1>
        <hr>
        {% block content %}{% endblock %}
    </div>
    <!-- Include Bootstrap JS and other dependencies here -->
    <script src="https://l2brasil.bitbucket.io/bootstrap-modern/bootstrap.bundle.min.js"></script>
</body>
</html>
